Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-easily-swappable-parameters,
        -bugprone-exception-escape,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -fuchsia-*,
        -google-*,
        -hicpp-no-array-decay,
        -hicpp-use-auto,
        -hicpp-uppercase-literal-suffix,
        -llvm*,
        -misc-const-correctness,
        -misc-include-cleaner,
        -misc-include-what-you-use,
        -misc-non-private-member-variables-in-classes,
        -modernize-pass-by-value,
        -modernize-use-auto,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-uppercase-literal-suffix,
        -zircon-*,
"
WarningsAsErrors: '*'
FormatStyle: none
